<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/matter-js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <title>Level 1</title>
</head>
<body>
    <canvas height="675" width="1500" style="border: 2px solid black;"></canvas>
    <script src="../Scripts/bird.js"></script>
    <script src="../Scripts/box.js"></script>
    <script src="../Scripts/staticBox.js"></script>
    <script src="../Scripts/slingshot.js"></script>
    <script src="../Scripts/pig.js"></script>
    <script src="../Scripts/level1.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>