<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/matter-js"></script>
    <link rel="stylesheet" href="/level.css"/>
    <title>Level 5</title>
</head>
<body>
    <canvas></canvas>
    <script src="../Scripts/bird.js"></script>
    <script src="../Scripts/box.js"></script>
    <script src="../Scripts/staticBox.js"></script>
    <script src="../Scripts/slingshot.js"></script>
    <script src="../Scripts/pig.js"></script>
    <script src="../Scripts/level5.js"></script>
    <script src="../Scripts/levelMechanics.js"></script>
</body>
</html>